<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <style>
    #txt{
        width: 80%;
        height: 500px;
    }
    </style>
    <script >
 function uploadPic() {
    var form = document.getElementById('file'),
    formData = new FormData();
    console.log(form.files);
    formData.append("file",form.files[0]);
    $.ajax({
        url:"/game/admin/upload",
        type:"post",
        data:formData,
        processData:false,
        contentType:false,
        success:function(res){
            if(res){
                console.log(res);
                $("#cover").val(res["downloads"])

                alert("上传成功！"+res["downloads"]);
        }
   },
   error:function(err){
        alert("上传失败！")
   }

  })
 }
</script>
</head>
<body>

<form action="{{ interface }}" method="post">
    <label>文章标题：</label>
    <input type="text" name="title" value="{{ title }}">
    <br>
    <label>日文标题：</label>
    <input type="text" name="j_title" value="{{ j_title }}">
    <br>
    <label>相关标签：</label>
    <input type="text" name="tag" value="{{ tag }}">
    <br>
    <label>选择封面：</label>
    <input id="file" type="file" name="file"/>

    <input type="button" value="上传" onclick="uploadPic();"/>
    <br>
    <input type="text" id="cover" name="cover" value="{{ cover }}">
    <br>
    <label>内容输入：</label>
    <textarea id="txt" name="content" cols="30" rows="4">{{ content }}</textarea>
    <br>
    <label>隐藏内容：</label>
    <textarea id= "txt" name="primary_str" cols="30" rows="4">{{ primary_str }}</textarea>
    <br>
    <input type="submit" value="Submit">
</form>

</body>

</html>