<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>[魔法使之家]-仓库</title>
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='game/style.css') }}">
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="col-md-8">
			<h1 id="title">[魔法使之家]-仓库</h1>

		</div>
        <form action="/game/index/search" method="get">
        <div class="col-md-4 input-group" style="padding:25px;">
			<span class="input-group-addon">搜索</span>
			<input type="text" name="text" class="form-control" placeholder="在这里输入你要寻找的资源哟">
		</div>
        </form>
	</div>
</nav>

<div id="main" class="container masonry grid">
	<div id="occupy" class="col-lg-3 grid-item">
		<div class="panel panel-default">
            <img width="100%" height="100%" src="{{ url_for('static', filename='game/gameCover/patchouli.png') }}">
			<div class="panel-body">
				<h3>
					<a href="#">站点公告</a>

				</h3>
                <p>主站：<a href="https://Ero.ink">Ero.ink</a></p>
                <p>博客：<a href="https://blog.ero.ink">Blog</a></p>
                <p>百度云不限速下载：<a href="https://blog.ero.ink/skill/57.html">点我跳转</a></p>
                <span class="badge" style="background: #D00;">公告</span>
			</div>
		</div>
	</div>

    {% for i in items %}
<div  class="col-lg-3 col-md-4 col-sm-12 col-xs-12 grid-item">
				<div class="panel panel-default">
				    <img width="100%" height="100%" src="{{ i.cover }}">
				        <div class="panel-body">
							<h3>
								<a href="/game/index/view/{{ i.id }}">{{ i.title }}</a>
							</h3>
							<div class="btn-group btn-group-xs">
                                <p>日文名：{{ i.j_title }}</p>
                                {% if i.tag.find("/") != -1 %}
                            {% for tag in i.tag.split("/") %}
						    <span class="badge" style="background: #D00;">{{ tag }}</span>
                            {% endfor %}
                            {% else %}
                             <span class="badge" style="background: #D00;">{{ i.tag }}</span>
                            {% endif %}
					        </div>
							</div>

						</div>

				</div>
{% endfor %}
<ul class="pagination" style="align-text: center;">
    {%  if last %}
	<li><a href="/game/index/{{ last-1 }}">&laquo;上一页</a></li>
    {% elif next %}
	<li><a href="/game/index/{{ next + 1 }}">&raquo;下一页</a></li>
    {%   endif %}
</ul>
</div>



<script src="https://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/jquery.imagesloaded/4.1.0/imagesloaded.pkgd.min.js"></script>
<script src="https://cdn.bootcss.com/masonry/3.3.2/masonry.pkgd.min.js"></script>
</body>
</html>
