<!DOCTYPE html>
<html xmlns=http://www.w3.org/1999/xhtml>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="{{ url_for('static' ,filename='bootstrap.min.css') }}" rel="stylesheet">
	<style type="text/css">
		* { margin:0; padding:0; }
		.form-login {
			width:260px;
			margin:40px auto;
		}
	</style>
</head>
<body>

<form class="form-horizontal form-login" action="javascript:login_submit();" role="form" method="post">
	<center><h1 style="color:#428BCA;">登陆到Ero</h1></center> <div class="checkbox"> </div>
	<div class="form-group">
		<input type="text" class="form-control" id="user" placeholder="用户名">
	</div>
	<div class="form-group">
	    <input type="password" class="form-control" id="passwd" placeholder="密码">
	</div>

	<div class="form-group">
		<button class="btn btn-primary btn-block" type="submit">登 录</button>
	</div>
	<div class="form-group">

		<!-- window.alert 与 alert 无差别, 加个window说不定能装个9.8分的逼 -->
	</div>
</form>

<script>

	function login_submit() {
		var username = document.getElementById("user").value;
		var password = document.getElementById("passwd").value;

        $.post('/auth/login',
            data={
            "user":username,
            "passwd":password
        },function (data) {

                if(data["code"] ==0){
                    alert("登陆成功");
                }else {
                    alert(data["msg"]);
                }
            });


	}
</script>
<script src="https://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
</body>
</html>
